.DS_Store
.env
.env.bak
composer.phar
/node_modules/
/vendor/
/storage/logs/
/storage/framework/
/public/storage
/public/hot
/public/files/
/npm-debug.log
/yarn-error.log
/.phpunit.result.cache
/.idea/
.vscode/

# Secrets
/env.zip
