@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
	--bs-body-font-family: 'Roboto', sans-serif;
	--bs-body-color: #6d6d6d;
	--bs-primary-rgb: 75, 198, 249;
	--bs-secondary-rgb: 0, 99, 62;
	--bs-border-color: #d0d0d0;
	--bs-light-rgb: 245, 247, 247;
	--bs-dark-rgb: 21, 38, 48;
	--bs-warning-rgb: 242, 159, 4;
	--c1: #152630;
	--c2: #4bc6f9;
	--c3: #f29f04;
}

.section {
	display: flow-root;
	position: relative;
}
.fs-5 {
	font-size: 1.18rem !important;
}


/* ------ navBar ------ */
#logo {
	width: 200px;
}
#navBarMain .nav-link {
	color: #fff;
	font-size: 1.05rem;
	font-weight: 500;
	padding: var(--bs-nav-link-padding-y) 1rem;
	position: relative;
}
#navBarMain .navbar-nav {
	--bs-nav-link-color: var(--bs-body-color);
	font-weight: 600;
}
#navBarMain .navbar-nav .nav-link:hover {
	opacity: .84;
}
#navBarMain .navbar-nav .nav-link.active,
#navBarMain .navbar-nav .nav-link.show {
	opacity: 1;
}
#navBarMain .navbar-nav .nav-link.active::before,
#navBarMain .navbar-nav .nav-link.show::before {
	background-color: #fff;
	bottom: 5px;
	content: "";
	height: 1px;
	left: 0;
	position: absolute;
	width: 100%;
}
.navbar-toggler {
	border: 1px solid rgba(255,255,255,.8);
}
[data-bs-theme="dark"] .navbar-toggler-icon {
	--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.9%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
@media (max-width:992px) {
	#logo { width: 162px }
	#navBarMain .navbar-nav .nav-link.active::before,
	#navBarMain .navbar-nav .nav-link.show::before {
		display: none;
	}
}
@media (max-width:768px) {
	#enterBtn i { transform: scale(1.25) }
}


/* ------ mainBanner ------ */
#mainBanner {
	clip-path: ellipse(100% 55% at 50% 44%);
}
/* #mainBanner h5::after {
	background-color: var(--c3);
	content: "";
	display: block;
	height: 5px;
	margin: 1rem 0 1.4rem 0;
	width: 64px;
} */
@media (max-width:992px) {
	#mainBanner { clip-path: ellipse(120% 55% at 50% 44%) }
}
@media (max-width:576px) {
	#mainBanner { clip-path: ellipse(170% 55% at 50% 44%) }
	.carousel-caption {
		left: 10%;
		right: 10%;
	}
	/* #mainBanner h5::after { height: 4px } */
	#mainBanner h5 {
		font-size: 1.3rem !important;
	}
}


/* ------ item box ------ */
#section3 .item-box .icon-container  {
	background-color: #fff;
    border-radius: 50%;
    display: flex;
	height: 170px;
	margin: 0 auto;
    text-align: center;
	transition: all .2s ease-in-out 0s;
	width: 170px;
}
#section3 .item-box:hover .icon-container .icon {
	border-color: var(--c3);
    transform: scale(1.1);
}
#section3 .item-box .icon-container .icon {
    color: var(--c2);
}


/* ------ section 4 ------ */
.bg-dark-op {
	background-color: rgb(21, 38, 48, .95);
}
.parallax {
    background-attachment: fixed;
	background-image: url(../img/form.jpg);
	background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (max-width:992px) {
	.parallax { background-position: center }
}


/* ------ misc ------ */
#wrapSection {
	position: relative;
}
.text-primary {
	color: var(--c2) !important;
}
.text-secondary {
	color: var(--c3) !important;
}
.text-dark {
	color: var(--c1) !important;
}
.bg-info {
	background-color: #e8f8fe !important;
}
#logo2 {
	width: 240px;
}
.link-primary:focus,
.link-primary:hover {
	color: RGBA(0,169,239,var(--bs-link-opacity,1)) !important;
}
@media (max-width:992px) {
	#wrapSection { position: static }
}
@media (max-width:576px) {
	#logo2 { width: 200px }
}


/* ------ btn ------ */
.btn {
	font-weight: 500;
}
.btn-primary {
	--bs-btn-bg: var(--c2);
	--bs-btn-border-color: var(--c2);
	--bs-btn-hover-bg: #2abcf8;
	--bs-btn-hover-border-color: #2abcf8;
}
.btn-dark {
	--bs-btn-bg: #1f3948;
	--bs-btn-border-color: #1f3948;
	--bs-btn-hover-bg: var(--c1);
	--bs-btn-hover-border-color: var(--c1);
	--bs-btn-active-bg: var(--c1);
	--bs-btn-active-border-color: var(--c1);
}


/* ------ btTop ------ */
.btTop {
	background-color: var(--c3);
	border: none;
	border-radius: 6px 0 0 6px;
	bottom: 13%;
	box-shadow: 0 0 0 2px rgba(40,40,40,.18);
	color: #fff;
	display: none;
	font-size: 1rem;
	height: 36px;
	line-height: 35px;
	outline: none;
	position: fixed;
	right: 0;
	text-align: center;
	transition:all 0.3s ease;
	width: 36px;
	z-index: 1040;
}
.btTop:hover {
	background-color: var(--c2);
	color: #fff;
}


/* ------ vBanner ------ */
#vBanner {
	background-color: rgb(21, 38, 48, .6);
	border-radius: 1rem;
	left: 50%;
	padding: 2rem 2.5rem;
	position: absolute;
	top: 40%;
	transform: translateZ(0) translateX(-50%) translateY(calc(-50%));
	width: 700px;
}
@media (max-width:992px) {
	#vBanner { width: auto }
}
@media (max-width:768px) {
	#vBanner { left: 35%; margin-left: 15%; margin-right: 15%; width: calc(100% - 30%); }
}
@media (max-width:576px) {
	#vBanner { left: 40%; margin-left: 10%; margin-right: 10%; padding: 1.3rem 1.5rem; width: calc(100% - 20%); }
}


/* ------ magicSearch ------ */
.magicsearch-wrapper .magicsearch-box {
	box-shadow: 0 0 14px rgba(40,40,40,.1);
}
.magicsearch-wrapper,
#magicSearch {
	width: 100% !important;
}
.magicsearch-wrapper :not(input) {
	color: #6d6d6d !important;
	font-family: 'Roboto', sans-serif;
	font-size: 14.5px;
}
.magicsearch-wrapper .magicsearch-box li.ishover {
	background-color: #4bc6f9;
	color: #fff !important;
}
.magicsearch-wrapper .magicsearch-box li.ishover span.keyword {
	color: #fff !important;
}
.magicsearch-wrapper .multi-item {
	background-color: #f7f7f7;
	border-radius: 5px;
	border: 2px solid #fff;
}
.magicsearch-wrapper .multi-item-close {
	right: 6px;
}
.magicsearch-wrapper .magicsearch-box li span.keyword {
	font-weight: normal;
}