.select2-container--bootstrap-5 .select2-selection__rendered {
    text-align: center !important;
}
.select2-results__option {
    text-align: left !important;
}
.select2-no-scroll {
    max-height: none;
    overflow-y: visible;
}
.overlap {
    border-color: #dc3545 !important;
    position: relative;
    margin-top: 25px !important;
}
.overlap-message {
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-top: 0.25rem;
    background-color: #f8d7da;
    color: #842029;
    padding: 0.3rem 0.6rem;
    font-size: 0.875rem;
    border: 1px solid #f5c2c7;
    border-radius: 0.25rem;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    z-index: 10;
}
